# This is Git's per-user configuration file.
[user]
	name = vimiomori
	email = vivian.muchen@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
	root = /Users/vi/src
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	st = status
	co = checkout
	br = branch
	rb = rebase
	ci = commit
	ad = "!git ls-files --modified --others --exclude-standard | peco --initial-filter=Fuzzy | xargs git add "
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	update = !git pull && git submodule update
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/vi/.stCommitMsg
[rerere]
	enabled = true
[credential]
	helper = cache
[url "git@github.com:"]
    insteadOf = https://github.com/
